# Ignore Data and Output to save GitHub space
data/
output/

# Ignore personal report documents
docs/

# Ignore Python Caches
__pycache__/
*.py[cod]
*$py.class

# Ignore IDE configs
.vscode/
.idea/

# Ignore Windows system files
desktop.ini
*/desktop.ini

